.client-container {
    position: relative;
    background: url("../assets/clients.jpg") no-repeat 30% 30%;
    background-size: cover;
    height: 400px;
    padding-left: 100px;
    text-align: left;
    overflow: hidden;
    color: white;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.client-container::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 400px;
    background-color: #000832;
    left: 0;
    opacity: 0.6;
}

.client-container .ctitle .client-title {
    position: relative;
    z-index: 10;
    color:#D7A31A;
    text-align: center;
    font-size: 3.5em;
    top: 10%;
}

.clientBox {
    position: relative;
    top: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.clientBox p {
    padding: 10px;
    border-radius: 5px;
    border: white 1px solid;
    font-size: 1.4em;
    font-weight: 600;
}