.specsBox {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: rgb(240, 240, 240);
    display: none;
    justify-content: space-around;
    align-items: center;
    padding: 100px 0px 100px 0px;
}

.specsBox .specsMain {
    text-transform: uppercase;
    position: absolute;
    top: 0%;
    font-size: 2em;
    margin-bottom: 10px;
    color: #D7A31A;
    border-bottom: #D7A31A 1px solid;
}
